{
    "url": "{{ ghost_url }}",
    "server": {
        "port": {{ ghost_port }},
        "host": "0.0.0.0"
    },
    "paths": {
        "contentPath": "/var/lib/ghost/content"
    },
    "database": {
        "client": "sqlite3",
        "connection": {
            "filename": "content/data/ghost.db"
        },
        "useNullAsDefault": true,
        "debug": false
    },
    "mail": {
        "from": "{{ ghost_smtp_sender }}",
        "transport": "SMTP",
        "logger": true,
        "options": {
            "host": "{{ ghost_smtp_host }}",
            "secureConnection": {{ ghost_smtp_secure | lower }},
            "auth": {
                "user": "{{ ghost_smtp_user }}",
                "pass": "{{ ghost_smtp_pass }}"
            }
        }
    },
    "privacy": {
        "useUpdateCheck": {{ ghost_use_update_check | lower }},
        "useGravatar": {{ ghost_use_gravatar | lower }},
        "useRpcPing": {{ ghost_use_rpc_ping | lower }},
        "useStructuredData": {{ ghost_use_structured_data | lower }}
    },
    "logging": {
        "path": "content/logs/",
        "useLocalTime": false,
        "level": "info",
        "rotation": {
            "enabled": true,
            "count": 15,
            "period": "60d"
        },
        "transports": ["file"]
    },
    "process": "systemd"
}